/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
/* line 12, ../scss/myguide.scss */
body {
  font-family: Lato;
  font-weight: 300;
  font-size: 20px;
}

/* line 21, ../scss/myguide.scss */
h1 {
  font-weight: 700 !important;
  font-size: 2em;
}

/* line 26, ../scss/myguide.scss */
.btn {
  background-color: #faad08;
  border: none;
  background-image: none;
  color: white;
  font-size: 1em;
  font-weight: 700;
}
/* line 34, ../scss/myguide.scss */
.btn::before {
  display: none;
}
/* line 38, ../scss/myguide.scss */
.btn:hover {
  background-color: #ef7c15 !important;
  color: white;
}
