/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
/* line 21, ../scss/myguide.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999999;
  border: none !important;
  border-radius: 0;
  font-weight: 700;
  font-size: .75em;
}

/* line 32, ../scss/myguide.scss */
.footer-nav {
  color: white !important;
}

/* line 36, ../scss/myguide.scss */
#bg-index {
  background: #333 url("../img/headerbild_startseite3.png") no-repeat center top;
}

/* line 39, ../scss/myguide.scss */
#bg-detail {
  background-color: #333;
}

/* line 43, ../scss/myguide.scss */
body {
  font-family: Lato;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

/* line 54, ../scss/myguide.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  font-color: white;
}

/* line 60, ../scss/myguide.scss */
h1 {
  font-size: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

/* line 67, ../scss/myguide.scss */
h2 {
  font-size: 1.75em;
  margin-bottom: .5em;
}

/* line 73, ../scss/myguide.scss */
h3 {
  color: #333333 !important;
  font-size: 1em !important;
  margin: 0;
}

/* line 81, ../scss/myguide.scss */
a {
  color: #333333 !important;
  text-decoration: none !important;
}

/* line 87, ../scss/myguide.scss */
.form-inline {
  color: #333333;
}

/* line 90, ../scss/myguide.scss */
.such-panel {
  margin-top: 3.5em;
}

/* line 97, ../scss/myguide.scss */
.btn, .btn-intext {
  background-color: #faad08;
  border: none;
  background-image: none;
  padding: .5em 1em;
  color: white;
  border-radius: 0;
  font-size: 1em;
  font-weight: 700;
}
/* line 109, ../scss/myguide.scss */
.btn::before, .btn-intext::before {
  display: none;
}
/* line 112, ../scss/myguide.scss */
.btn:hover, .btn-intext:hover {
  background-color: #ef7c15 !important;
  color: white;
}

/* line 117, ../scss/myguide.scss */
.btn-intext {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* line 124, ../scss/myguide.scss */
.col-sm-12 {
  padding: 1em 0;
  margin-left: 15px;
  margin-right: 15px;
  width: 97%;
}

/* line 132, ../scss/myguide.scss */
.panel-body {
  color: #333333;
}
