/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
/* line 22, ../scss/myguide.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999999;
  border: none !important;
  border-radius: 0;
  font-weight: 700;
  font-size: .75em;
}

/* line 33, ../scss/myguide.scss */
.footer-nav {
  color: white !important;
}

/* line 37, ../scss/myguide.scss */
#bg-index {
  background: url("../img/headerbild_startseite3.png") no-repeat center top;
}

/* line 42, ../scss/myguide.scss */
body {
  font-family: Lato;
  font-weight: 300;
  font-size: 20px;
  color: white;
  background-color: #333;
}

/* line 54, ../scss/myguide.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  font-color: white;
}

/* line 60, ../scss/myguide.scss */
h1 {
  font-size: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

/* line 67, ../scss/myguide.scss */
#h1-index {
  padding-bottom: 2em !important;
}

/* line 70, ../scss/myguide.scss */
h2 {
  font-size: 1.75em;
  margin-bottom: .5em;
}

/* line 76, ../scss/myguide.scss */
h3 {
  font-size: 1.2em !important;
  margin: 0;
}

/* line 82, ../scss/myguide.scss */
h4 {
  color: #333333 !important;
  font-size: 1em !important;
  margin: 0;
}

/* line 90, ../scss/myguide.scss */
a {
  color: #333333 !important;
  text-decoration: none !important;
}

/* line 99, ../scss/myguide.scss */
.form-inline {
  color: #333333;
}

/* line 102, ../scss/myguide.scss */
.such-panel {
  margin-top: 3.5em;
  border-radius: 8px;
}

/* line 108, ../scss/myguide.scss */
.pseudoTable {
  display: table;
  width: 100%;
}

/* line 113, ../scss/myguide.scss */
.pseudoCell {
  display: table-cell;
  vertical-align: middle;
}

/* line 120, ../scss/myguide.scss */
.btn, .btn-intext {
  background-color: #faad08;
  border: none;
  background-image: none;
  padding: .5em 1em;
  color: white;
  border-radius: 0;
  font-size: 1em;
  font-weight: 700;
}
/* line 132, ../scss/myguide.scss */
.btn::before, .btn-intext::before {
  display: none;
}
/* line 135, ../scss/myguide.scss */
.btn:hover, .btn-intext:hover {
  background-color: #ef7c15 !important;
  color: white;
}

/* line 140, ../scss/myguide.scss */
.btn-intext {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

/* line 147, ../scss/myguide.scss */
.col-sm-12 {
  padding: 1em 0;
  margin-left: 15px;
  margin-right: 15px;
  width: 97%;
}

/* line 155, ../scss/myguide.scss */
.panel-body {
  color: #333333;
}

/* line 159, ../scss/myguide.scss */
.tourTeaser {
  background-color: #fff;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 25px;
}
/* line 165, ../scss/myguide.scss */
.tourTeaser .image {
  width: 33%;
  float: left;
}
/* line 170, ../scss/myguide.scss */
.tourTeaser .img-responsive {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 175, ../scss/myguide.scss */
.tourTeaser .text {
  width: 67%;
  float: left;
  padding: 20px;
}
/* line 182, ../scss/myguide.scss */
.tourTeaser::after {
  content: "";
  clear: both;
  display: block;
}

/* line 192, ../scss/myguide.scss */
.tourform {
  label: #333333;
}
