
/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
/*
@mixin background ($imagepath:url) {
  background-image: url($imagepath);
}
*/

// color Button + Button Hover
$orange: #faad08;
$orangehover: #ef7c15;
$ausfuellhilfefontsize: .75em;


//background-color: #484848;
//color: white;


// Anpassungen Body
body {
  font: {
    family: Lato;
    weight: 300;
    size: 20px;
  }
  background: #333 url("../img/headerbild_startseite.png") no-repeat right top;

}

// Font H1-H... noch ergänzen
h1 {
  font: {
    weight: 700 !important;
    size: 2em;
  }
}

// default-button orange
.btn {
  background-color: $orange;
  border: none;
  background-image: none;
  padding: .5em 1em;
  color: white;
  font: {
    size: 1em;
    weight: 700;
  }

  &::before {
    display: none;
  }
  &:hover {
    background-color: $orangehover !important;
    color: white;
  }
}

// Abstand oben-unten vollbreite elemente
.col-sm-12 {
  padding: 3em 0;
}


