
/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/


// color Button + Button Hover
$orange: #faad08;
$orangehover: #ef7c15;
$schriftgrau: #333333;
$ausfuellhilfefontsize: .75em;


//background-color: #484848;
//color: white;

// Anpassungen Menü

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999999;
  border: none !important;
  border-radius: 0;
  font: {
    weight: 700;
    size: .75em;
  }
}
.footer-nav {
  color: white !important;
}

#bg-index {
  background: url("../img/headerbild_startseite3.png") no-repeat center top;
}

// Anpassungen Body
body {
  font: {
    family: Lato;
    weight: 300;
    size: 20px;
  }
  color: white;
  background-color: #333;
}

// Font H1-H... noch ergänzen

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font: {
    weight: 700;
    color: white;
  }
}
h1 {
  font: {
    size: 2.5em;
  }
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#h1-index {
  padding-bottom: 2em !important;
}
h2 {
  font: {
    size: 1.75em;
  }
  margin-bottom: .5em;
}
h3 {
    font: {
      size: 1.2em !important;
    }
  margin: 0;
}
h4 {
  color: $schriftgrau !important;
  font: {
    size: 1em !important;
  }
  margin: 0;
}

a {
  color: $schriftgrau !important;
  text-decoration: none !important;
}

// sternebewertung bearbeiten


// suchpanel
.form-inline {
  color: $schriftgrau;
}
.such-panel {
  margin-top: 3.5em;
}


.pseudoTable {
  display:table;
  width:100%;
}

.pseudoCell {
  display:table-cell;
  vertical-align:middle;
}


// default-button orange
.btn {
  background-color: $orange;
  border: none;
  background-image: none;
  padding: .5em 1em;
  color: white;
  border-radius: 0;
  font: {
    size: 1em;
    weight: 700;
  }

  &::before {
    display: none;
  }
  &:hover {
    background-color: $orangehover !important;
    color: white;
  }
}
.btn-intext {
  @extend .btn;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

// Abstand oben-unten vollbreite elemente
.col-sm-12 {
  padding: 1em 0;
  margin-left: 15px;
  margin-right: 15px;
  width: 97%
}

// Kurzübersicht-Panel
.panel-body {
  color: $schriftgrau;
}

.tourTeaser {
  background-color:#fff;
  display:inline-block;

  .image {
    width:33%;
    float:left;
  }

  .text {
    width:67%;
    float:left;
  }

  &::after {
    content:"";
    clear:both;
    display:block;
  }

}
